@mixin background {
    background-image: url('../img/banner/home-banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    height: 150vh;
}
@mixin section-header {
    color: black;
    padding: 3rem 0;
    font-size: 0.8rem;
    text-align: center;
    h2 {
      font-size: 2.5rem;
      padding-bottom: 2rem;
    }
    p {
      padding-bottom: 5rem;
      width: 50%;
      margin: 0 auto;
    }
}

@mixin hover($width:45%) {
  &:hover {
    color:white;
    background-image: $gradient;
    padding: 1rem 0.7rem 1rem 0.7rem;
    width: $width;
}
}
@mixin card-hover ($width:25%) {
  &:hover{
    background-image: $gradient;
    cursor: pointer;
    flex: 0 0 $width;
    p,h3{
      color: white;
    }
    .latest-news__date {
        color: gray;
    }
  }
}
@mixin hover-dwn {
  &:hover {
    color:black;
    background-color:white;
    width: 30%;
}
}